<!DOCTYPE html>
<html>
<head>
  <title>signuppage</title>
  <link rel="stylesheet" type="text/css" href="../static/css/css.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>

</head>
<body>
  <br>
  <p style="text-align:center; color:cornflowerblue"><strong>Please type in your details below:</strong></p>
  <h3 style="text-align:center"><i class="em em-arrow_down"></i></h3>
  <div style="text-align:center;">
    <form class="form-login">

      <input type="name" name="name" id="name" placeholder="Your Name">
      <br><br>
      <input type="email" name="email" id="email" placeholder="Your Email">
      <p>---------------------</p>
      <input type="alist" name="alist" id="alist" placeholder="Your 1st wish">
      <br><br>
      <input type="blist" name="blist" id="blist" placeholder="Your 2nd wish">
      <br><br>
      <input type="clist" name="clist" id="clist" placeholder="Your 3rd wish">
      <p>---------------------</p>
      <input type="housenumber" name="housenumber" id="housenumber" placeholder="Your housenumber">
      <br><br>
      <input type="street" name="street" id="street" placeholder="Your street">
      <br><br>
      <input type="postcode" name="postcode" id="postcode" placeholder="Your postcode">
      <br><br>
      <input type="city" name="city" id="city" placeholder="Your city">
      <br><br>
      <input type="country" name="country" id="country" placeholder="Your country">
      <br><br>
      <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      <br>
      <h2 style="text-align:center"><i class="em em-tada"></i></h2>
    </form>
  </div>

</body>
</html>
